.likert {
    padding: 1em;
    text-align: center;
    padding-left: 10vv;
    padding-right: 10vv;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
  }

  
