.confirmation {
    padding-top: 10%;
    
}
.confirmation-text {
    font-size: 3rem;
}

.back-button {
    left: 25%;
    background-color: rgb(181, 249, 252);
}

.finish-button {
    left: 60%;
    background-color: #fee6e3;
}

.back-button, .finish-button {
    top: 60%;
    align-items: center;
    border: 3px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 24px;
    height: 60px;
    justify-content: center;
    line-height: 30px;
    max-width: 100%;
    padding: 0 35px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .back-button:after, .finish-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 60px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .back-button:hover:after, .finish-button:hover:after {
    transform: translate(0, 0);
  }
  
  .back-button:active {
    background-color: rgb(181, 249, 252);
    outline: 0;
  }

  .finish-button:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .back-button:hover, .finish-button:hover  {
    outline: 0;
  }
  