.survey-steps {
    padding-top: 5%;
}

.previous-button {
    left: 20%;
    background-color: rgb(181, 249, 252);
}

.next-button {
    left: 70%;
    background-color: #fee6e3;
}

.previous-button, .next-button {
    top: 80%;
    align-items: center;
    border: 3px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    line-height: 30px;
    max-width: 100%;
    padding: 0 25px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .previous-button:after, .next-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .previous-button:hover:after, .next-button:hover:after {
    transform: translate(0, 0);
  }
  
  .previous-button:active {
    background-color: rgb(181, 249, 252);
    outline: 0;
  }

  .next-button:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .previous-button:hover, .next-button:hover  {
    outline: 0;
  }
  